<h2>Users</h2>
<div class="row">
  <div class="mx-auto mb-3">
    <%= form_with model: User.new, method: :get, class: "search__form" do |f| %>
      <%= f.text_field :keyword, required: true, class: "search__form__input searchTerm", placeholder: "Search" %>
      <button type="submit" class="searchButton">
      <i class="fa fa-search-plus"></i>
      </button>
    <% end %>
  </div>
</div>
<div class="row">
  <div id="index" class="mx-auto">
    <%= render "users/search", users: @users %>
  </div>
</div>
