<h2 style="color:orange">About TenniSite</h2>
<h3 class="mt-4 mb-4 text-center">
  This site is a gathering place for tennis lovers.<br>
  Let's share the excitement of tennis or your tennislife.
</h3>
<h4 class="mt-5" style="color:red">
  <strong><i class="fas fa-exclamation-triangle"></i>Notes<i class="fas fa-exclamation-triangle"></i></strong>
</h4>
<h4 class="about" style="color:red">
  ・Do not post to criticize others.<br>
  ・It is the site to share the excitement and comments about tennis.<br>
    　Please refrain from posting other than that.<br>
  ・Chat comments cannot be deleted.<br>
    　Let's chat thinking of the other party.
</h4>
<div class="text-center mt-4">
  <strong>
    <%= link_to "Top", root_path, class: "btn btn-dark btn-lg", style: "color:orange" %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-dark btn-lg", style: "color:yellow" %>
    <%= link_to "Log in", new_user_session_path, class: "btn btn-dark btn-lg", style: "color:pink" %>
  </strong>
</div>