<h2>Posts</h2>
<div class="row mx-auto">
  <div class="search mx-auto mb-3">
    <%= form_with model: Post.new, method: :get, class: "search__form" do |f| %>
      <%= f.text_field :keyword, required: true, class: "search__form__input searchTerm", placeholder: "Post"%>
      <button type="submit" class="searchButton">
      <i class="fa fa-search-plus"></i>
      </button>
    <% end %>
  </div>
</div>
<div id="index" class="mx-auto">
  <%= render "posts/index", posts: @posts %>
</div>