<h2>Posts</h2>
<div class="row mx-auto">
  <div class="search mx-auto">
    <%= form_with model: Post.new, method: :get, class: "search__form" do |f| %>
      <%= f.text_field :keyword, required: true, class: "search__form__input searchTerm" %>
      <button type="submit" class="searchButton">
      <i class="fa fa-search-plus"></i>
      </button>
    <% end %>
  </div>
  <div id="index">
    <%= render "posts/index", posts: @posts %>
  </div>
</div>