/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import 'bootstrap';
 @import 'font-awesome-sprockets';
 @import 'font-awesome';



.sidebar_fixed {
 position: sticky;
 top: 60px;
}

.picture {
  height: 350px;
  width: auto;
  margin: 0 auto;
}

body {
  position: relative;
  background-image: url(top.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat:  no-repeat;
  color: white;
  height: 100vh;
}

body::before {
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

.about {
  line-height: 2;
}